@import '../components.scss';

.about{
    margin-top: auto;
    text-align: left;


    article{
    
    .about-text{

        background-color: white;
        padding: 20px;
        border:1px solid rgba(0,0,0,.125);
        h1{
            color: black;
            font-family: 'overpass' sans-serif;
            font-size: 2.5rem;
            font-weight: 500;
        }
        p{
            font-family: 'Roboto' sans-serif;
            line-height: 1.5;
            font-weight: 400;
        }
    }
}
}