@import '../components.scss';


.home{
    z-index: 1;
    width:100vw;
    margin-left: 0;
    display: flex;
    flex-direction: column;

    
        
    .home-container{
       
        z-index: 1;
        
        .content{
            display: flex;
            flex-direction: row;
            flex-wrap:wrap;
            
            
            
            .home-routes{
                padding:5px 10px;
                z-index: 2;
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                h2{
                    font-size: 2rem;
                    font-weight: 500;
                }
                ul{
                    
                    width:100%;
                    text-align: left;
                    background-color: white;
                    padding-left: 0;
                    
                    a{
                        cursor: pointer;
                        color:var(--color-grey);
                        text-decoration: none;
                        
                        li{
                            
                            border:1px solid rgba(0,0,0,.125);
                            font-size: 1rem;
                            
                            font-weight: 400;
                            padding:10px 5px;
                            list-style: none;
                            
                            &:hover{
                                background-color: var(--color-light);
                                color:black;
                            }
                        }
                }
                }
            }
        }
    }

}




@media(max-width:750px){
    .home{

    .home-container{

    .content{
        flex-direction: column;
        
    
    .home-routes{
        
        width:100%;
    }
}
    }
}
}