@import '../components.scss';

.intro{
    z-index: 1;
    background-color:var(--color-orangeDark) ;
    width:100%;
    height:auto;
    color:white;
    font-size: 1.9rem;
    line-height: 1.2;
    padding:auto 0;
    text-align: left;
    font-family:'Roboto'  sans-serif;
    
    h1{
    
    font-weight: 100;
    }
    h3{
    font-weight: 50;
    padding-bottom: 2rem;
    border-bottom: 0.01px var(--color-light) inset;
    }
}