
@import '../constants.scss';


.navbar{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--color-light);
    #mobile-only-options{
        display: flex;
        position: fixed;
        top:66px;
        padding-top: 10px;
        height: auto;
        width:100%;
        padding:5px 15px;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        background-color: var(--color-light);
        z-index: 3;
        flex-wrap: wrap;
        transition: ease-in 2s;
     
            
            a{
            font-size: 1.4rem;
            font-weight: 200;
            color:var(--color-grey);
            cursor: pointer;
                text-decoration: none;
                color:var(--color-grey);
                &:hover{
                    color: black;
                }
                margin-bottom:10px;
            }
                    
    }
}

.navigation{
    position:fixed;
    z-index: 4;
    top:0;
    left:0;
    padding:15px 20px;
    padding-bottom:25px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    height:auto;
    background-color:var(--color-light);
    
    
    .web-only-options{
        display:inline-flex;
        margin-left:20px;
        a{
        margin-left:20px;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        color:var(--color-grey);

        &:hover{
            color: black;
                
        }
            
        }
        
        
        
        
    }

    #mobile-only-bar{
        margin-left:auto;
        
        span{
            display: block;
            width:30px;
            height:3px;
            background-color:var(--color-grey);
            &:not(:last-child){
                margin-bottom:6px;
            }

            cursor: pointer;
            
            
        }
        
        &.cross{
            transform: scale(1.6);
           
            span{
                
                &:first-child{
                transform: rotate(45deg);
                }
                &:nth-child(2n){
                display: none;
                }
                &:last-child{
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .logo{
        width:225px;
        cursor: pointer;
        .image{
            width:100%;
            height:100%;
        }
    }

}


#mobile-only-options,#mobile-only-bar{
    display: none;
}


@media(max-width:750px){
#web-only-options{
    display:none;
}

#mobile-only-bar{
    display: block;
}
#mobile-only-options{
    display:flex;
}
}