@import './constants.scss';

*{
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
  
}

.App {
  text-align: center;
  
}


main{
  
  background-color:var(--color-light);
  padding-top:50px;
  transition: ease-in 2s;
  min-height: 100vh;
  padding-left:0;
}

