:root{
    --color-light:#f8f9fa;
    --color-black:black;
    --color-grey:#6c757d;
    --color-orange:#fd7e14;
    --color-orangeDark:#F76902;
    --color-greyDark:#343a40;
  }

.container{
  margin:10px 20%;
  
}

@media(max-width:750px){
  .container{
  margin: 10px 7%;
  }
}